<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <div class="container" id="app">
      <div class ="main-block">
        <h2>🌴 Fuzzy Tour Helper</h2>
        <p class="version"><span class="badge badge-pill badge-primary">v1.0</span></p>
        
        <p>Средняя температура:
              
        </p>
        <p>Стоимость путевки:

        </p>
        <p>Наличие моря:
            <input type="radio" v-model="sea" value=1>
            <label class="sea-label">Есть</label>
            <input type="radio" v-model="sea" value=0>
            <label class="sea-label">Нет</label>
        </p>
        <button type="button" class="btn btn-success" @click="findCountries()">Подобрать предложения</button>
        <h4 v-if="countries != null">Результаты:</h4>
        <div class="row">
            <div v-for="current in countries" class="col-sm-4">
              <div class="card country-block">
                <div class="card-body">
                  <h5 class="card-title"><img :src="getFlagImageSource(current.code)"><br>{{ current.name }}</h5>
                  <p class="card-text">Температура: <b>±{{ current.temp }}°C</b> <br>
                      Цена путевки: <b>{{ current.price }}₽</b> <br>
                      Море: <b>{{ current.sea ? 'есть' : 'нет'}}</b>
                  </p>
                  <a :href="getTourLink(current.en)" class="btn btn-primary">Путевки</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/main.js"></script>
  </body>
</html>