.main-block {
    margin-top: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.version {
    margin-top: -1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 27vh;
    font-size: 1.7vh;
}

.sea-label {
    margin-left: 0.1vh;
}

.slider-label-left {
    position: relative;
    right: 16vh;
    bottom: 0.5vh;
}

.slider-label-right {
    position: relative;
    left: 16vh;
    bottom: 0.5vh;
}

.country-block {
    margin-bottom: 1vh;
}